---
layout: page
title:
excerpt: "Click the posts below for more information"
search_omit: true
---

<!-- <h1 class="entry-title">Overview</h1> -->
<ul class="post-list">
<li>10+ years of management experience</li>
<li>Broad systems and platform expertise</li>
<li>Proven leadership skills</li>
<li>Commercial and Customer understanding</li>
<li>Excellent communication skills</li>
<li>Comprehensive development background</li>
<li>Agile experience</li>
<li>AWS architecture &amp; development</li>
</ul>

<h1 class="entry-title">Experience</h1>
<div class="excerpt">Click entry below for more information</div>
<br/>
<ul class="post-list">
{% for post in site.posts limit:10 %}
  {% if post.grouping == "work" %}
    <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d/%m/%Y" }} </time>- {% if post.date2 %}<time datetime="">{{ post.date2 | date: "%d/%m/%Y" }} </time>{% else %}Current{% endif %}</span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
  {% endif %}
{% endfor %}
</ul>


<h1 class="entry-title">Education &amp; Training</h1>

<ul class="post-list">
{% for post in site.posts limit:10 %}
  {% if post.grouping == "education" %}
    <li><article><a href="{{ site.url }}">{{ post.title }} <span class="entry-date"> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d/%m/%Y" }} </time>- <time datetime="">{{ post.date2 | date: "%d/%m/%Y" }} </time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
    {% endif %}
  {% endfor %}
</ul>
